.navbar-home {
    background-color: white;
    border-color: none;
    border-radius: 0px;
    margin-bottom: 0%;}

    .logo img{
        width: 100px; height: 35px; 
        padding: 0px; margin: 0px; }