.navbar-home {
    background-color: white;
    border-color: none;
    border-radius: 0px;
    margin-bottom: 0%;}

    .logo img{
        width: 100px; height: 35px; 
        padding: 0px; margin: 0px; }

    .carousel-inner{ height: 70vh;}
    .slider div img { 
        width: 100%;
        }
.thumbnail { padding: 5px;}
.plans { margin-top: 50px;}
.flag > li > a > img  { height: 20px;
      text-align: center; }

.flag{ padding-left: 30%
    
}

.footer { background-color: rgb(38, 38, 107);
margin-top: 70px;
color: orange; text-align: center;}
